<div>
  <p class="title"> Want to learn how your body talks?</p>
  <p>Studies have shown that in the process of communication, <br>
    non-verbal expression has 65% to 93% more influence than actual text. <br>
    This means that "how to say" is more important than "what to say"</p>

  <a routerLink="/login" target="_self" style="float: right;" class="getStarted">
    Get Started
  </a>
</div><br>

<div class="whatIs">
  <div class="question">
    <p style="display: flex;	flex-direction: column;	 align-items: flex-start;margin-left: 10%;    ">
      What is body language?</p>
  </div>
  <div class="answer">
    <p> Body language is a type of a nonverbal communication in which physical behaviors,
      as opposed to words, are used to express or convey the information.<br>
      Such behavior includes: facial expressions,
       body posture, gestures, eye movement, touch and the use of space.
      Although body language is an important part of communication, most of it happens without conscious awareness.
    </p>
    <a routerLink="/login" target="_self" style="float: right;">
      Get Started &#8594;
    </a>
  </div>
</div>

<div class="getReady">
  <div class="question">
    <p style="display: flex;	flex-direction: column;	 align-items: flex-start;margin-left: 2%;">Getting ready for a job interview?</p>
  </div>
  <div class="getReadyAnswer">
  <p>It is very important to practice your body language as much as you rehearse your answers to common interview
    questions.
    Natural tendencies tend to take over when you are nervous, so you have to learn to consciously overcome them.
    You can practice with friends or an interview coach to ensure you are fully aware and in control of your body when
    the time comes for the interview.<br>
    Useful, isn't it?<br>
    But wait, it gets better!<br>
    Now, with our program Posture Perfect, you can do this yourself!
    <br>
    <br>
  </p> <a routerLink="/userPage/FileUpload" target="_self" style="float: right;">
    Wanna try?
  </a>
</div>
</div>


© Batia & Hadasa

