#check{
    text-align: center;
    width: 70px;
    border-style: ridge;
    margin: auto;
}

#myBtn {
    display: none; /* Hidden by default */
    position: fixed; /* Fixed/sticky position */
    bottom: 20px; /* Place the button at the bottom of the page */
    right: 30px; /* Place the button 30px from the right */
    z-index: 99; /* Make sure it does not overlap */
    border: none; /* Remove borders */
    outline: none; /* Remove outline */
    background-color:green; /* Set a background color */
    color: white; /* Text color */
    cursor: pointer; /* Add a mouse pointer on hover */
    padding: 15px; /* Some padding */
    border-radius: 10px; /* Rounded corners */
    font-size: 18px; /* Increase font size */
}

#myBtn:hover {
    background-color: rgb(131, 218, 149); /* Add a dark-grey background on hover */
} 

#test{
    background-color: rgb(25, 197, 25);
    width: 450px;
}

#more {display: none;}

#read{

    background-color:lightblue;
}

.show-less {
    height: 4rem;
    overflow: hidden;
    padding: 1rem;
}

#ques{
    cursor: pointer; /* Add a mouse pointer on hover */
    background-color:green; /* Set a background color */
    color: white; /* Text color */
    border: none; /* Remove borders */
    outline: none; /* Remove outline */
    width: 150px;
    height: 100;
}

#question{
display:none;
}

