<br>
<br>
<br>
<br>
<br>
<br>
<div style="text-align: center" id="pagelearn">



<h1>work interveiw</h1>

<p>

    שפת הגוף מעבירה את המסר בצורה חזקה יותר מהמסרים המילוליים עצמם.<br>
    בעזרת מודעות לשפת הגוף ניתן לייעל את המסר אותו הינך מעוניין להעביר<br>
    אם במהלך ראיון עבודה המרואיין עסוק במחשבות על איך לחייך באופן נעים,<br>
     איך לשמור על קשר עין, איך להימנע מתנועות עצבניות וכדומה,<br>
     מחשבותיו אינן ממוקדות בתשובות לשאלות המראיין אלא בהתנהגותו המוחצנת.<br>
       .חשוב מאוד להתכונן כראוי לקראת הראיון ולתרגל זאת לפני <br>
</p>
    <h3>:שיעור ראשון</h3>

<h2> שמירת המרחב האישי של המרואין</h2>
<p>
    
,אל תגלשו למרחב האישי של המראיין כמו למשל להישען על השולחן, או לשים עליו ידיים<br>
    או נגיעה בחפצים שנמצאים על שולחנו, כולל מסך המחשב<br>
    . הוא יכול להרגיש שאתם פולשניים באופן כללי ותיכף תתחילו לחלק לו הוראות.<br>
</p>

<h2>הופעה מכובדת</h2>
<p>
    .רושם שלילי: עישון, אכילה במהלך פגישה, נשיאת ציוד בתוך שקית נייר או שקיות ניילון במקום תיק אלגנטי<br>
     .בגדים מקומטים או עם כתמים ולו רק כתם קטן אחד שנדמה לך שרק אתה מבחין בו<br>
      .סביבת עבודה לא מסודרת או מלוכלכת – כל אלה הם מתכון בדוק ליצירת רושם שלילי<br>
      .לעומת זאת, חולצות מכופתרות בצבע כחול, תכלת או לבן משווים מראה של מקצוענות<br>
</p><br>


<img src="assets/download-12.jpg" width="304" height="228"><br>
<br>
<div id=check style="text-align: center;" >
    <label>done?</label>
<input
  type="checkbox"
  [checked]="saveUsername"
  (change)="saveUsername = !saveUsername"/>
</div>


   <h3>:שיעור שני</h3>

<h2>ישיבה נכונה</h2>
<p>

,כאשר אתם מתיישבים, הקפידו להוריד את המעיל אם לבשתם כזה, מאחר וישיבה עם המעיל מרמזת על לחץ, או גרוע מזה – זלזול<br>
שבו בצורה נינוחה וזקופה בכיסא. חשוב לשמור על שפת גוף פתוחה <br>
.כלומר, כפות ידיים פתוחות מלמדות על פתיחות וכנות ואילו, שילוב ידיים על החזה מעיד על עמדה מתגוננת, סגורה<br>
אין לשבת רחוק מדי מהמראיין כדי לא לשדר ריחוק והגנתיות<br>
לעומת זאת, ישיבה קרובה וצפופה מדי משדרת חוסר גבולות, לעיתים גם לחץ<br>
.הישיבה הנכונה היא במצב של איזון בין השניים, לשמור על קרבה וריחוק גם יחד בינך לבין המראיין<br>

</p>
<img src="assets/images-13.jpg" width="304" height="228"><span>   </span>
<img src="assets/images-14.jpg" width="304" height="228">
<br>

<h2>לחיצת יד</h2>
<p>
    לחיצת יד בעסקים היא הנורמה<br>
    .לחץ יד עם כל כף היד. אל תלחץ חזק מדי על מנת שלא לגרום כאב ואל תבצע לחיצה רכה או רפה<br>
        חלש מדי מלהכאיב אולם מספיק חזק על מנת להקרין ביטחון
</p>
<img src="assets/hands.jpg" width="304" height="228"><br>


<h2>ידיים</h2>
<p>
   מה לא לעשות:<br>
    שילוב זרועות על החזה מעיד על עמדה שלילית או מתגוננת. ידיים על המותניים היא תנועה המשדרת ריחוק <br>
    ששתי ידיו בכיסים או מוסתרות מראה על אדם כעצלן או מזלזל.<br>
    מה כן לעשות:<br>
    הנחת ידיים על החזה משדרת כי הנכם ישרים וכנים. בשאר הזמן, הניחו את הידיים על מסעד הכסא או על הירכיים, 
    יש להקפיד להראות את כפות הידיים ולא להסתירן והקפידו על תנוחת כפות הידיים<br>
    אחיזה בחפצים: דאגו כי ידיכם יהיו נקיות מחפצים. כאשר בני אדם משחקים עם עט או חפץ אחר בידיהם כשהם מדברים מועבר בתת מודע שדר של חוסר ביטחון, מצוקה ואי נוחות
<br>
<img src="assets/images-18.jpg" width="304" height="228"><br>

</p>

<button type="button" (click)="alterDescriptionText()">
    {{ showShortDesciption ? 'SHOW ALL': 'SHOW LESS' }}
  </button>
  <div [ngClass]="{'show-less': showShortDesciption}">
      <div id=show *ngIf="howShortDesciption"> 
    <p>vgffgm kmn gmbhmnvb</p>
      </div>
</div>


<h2> קשר עין וחיוך</h2>
<p>

    קשר עין יציב ועקבי עם המראיין מעורר תחושות אמינות וישירות. ואילו, קשר עין מתחמק ולא עקבי משדר לחץ, ביישנות וחוסר ביטחון<br>
    הרימו את מבטכם ושמרו על קשר עין, בשום פנים ואופן אל תשפילו את מבטכם<br>
    שימו לב כי המבט שלכם אינו חודר ומאפשר מרווח פרטי. אתם רוצים לשדר ביטחון, לא לאיים<br>
      תנועות הפה יכולות לתת כל מיני רמזים. אנחנו מכווצים את השפתיים ולפעמים מעוותים אותן הצידה גם בלי לשים לב <br>
    לכן, הפתרון הכי טוב הוא להחזיק חיוך קל של שביעות רצון ועניין<br>
    כאשר אתה מחייך ומבקש שהחיוך שלך יקלט כחיוך לבבי אצל זולתך, עליך לחייך ולהרגיש את הקמטים שבזוית העין<br>
    . חיוך זה הוא חיוך מלא ומשדר אמיתות וכנות. חצי חיוך משדר בדיוק את ההפך.<br>

</p>
<img src="assets/images-12.jpg" width="304" height="228">
<h2>שיחה</h2>
<p>
    איך מדברים?: אל תדבר במקצב מונוטוני. למד להעלות ולהוריד את טון הדיבור בהתאם למסר שאתה מעונין להעביר<br>
     קול עולה, קול יורד ושתיקה קלה יהפכו את המסר שלך למעניין ולקליט יותר<br>
     הייה מרוכז: בשעה שאתה מקשיב לבן-השיח שלך, עשה זאת בריכוז. היה קשוב ואל תחפש רק את הנקודה בה הוא עוצר לרגע על מנת להשחיל מילה משלך<br>
</p>
<img src="assets/ext.jpg" width="304" height="228"><br>

שים לב לשפת הגוף של המראיין שלך. אם הוא מהנהן כשאתה מדבר, יושב ושפת הגוף שלו פתוחה,<br>
 רוכן לעברך ויוצר קשר ישיר, כלומר מתקרב אליך, סימן שאתה בדרך להשגת מטרתך.<br>
</div>

<button (click)="topFunction()" id="myBtn" title="Go to top">Top</button> 
