
<div style="text-align: center" id="pagelearn">
    <br>
    <br>
    <button class="flag" style="  background-image: url('../../../assets/israel-flag-icon-free-download.jpg');  " (click)=Hebrew()></button>
    <br>
    <button class="flag" style="  background-image: url('../../../assets/usaflag.jpg'); " (click)=English()></button>
  
  
    <button (click)="topFunction()" id="myBtn" title="Go to top">&#x21E7;


    </button>
  

    <div *ngIf="hebrew">
        <div class="sidenav">
            <br>
            <a (click)="getChatMessages(1)">שמירת המרחב האישי</a> <br>
            <a (click)="getChatMessages(2)">הופעה מכובדת</a> <br>
            <a (click)="getChatMessages(3)">ישיבה נכונה</a> <br>
            <a (click)="getChatMessages(4)">ידיים</a> <br>
            <a (click)="getChatMessages(5)">קשר עין וחיוך</a> <br>
        </div>


        <h1>ראיון עבודה</h1>
      
        <p>
            אחד הדברים החשובים בראיון עבודה, הוא לשים לב לשפת הגוף. <br>
            כלל הברזל: תנועות סגורות מעידות על חוסר פתיחות<br>
            רגשית. כך למשל, ידיים שלובות על החזה או סתם אחת בשנייה, משדרות למראיין שאתם לא מרגישים פתוחים במעמד,<br>
            מה שיגרום לו לתהות אם יש לכם סיבה שאתם לא מרגישים בנוח. <br>
            מחקרים רבים מראים כי 30 השניות הראשונות בחברת אדם הן השניות שיקבעו את דעתו עליכם לאורך תקופה או אפילו
            לנצח.<br>
            נסו להפוך את השניות הללו למפתח הטוב ביותר לקשר ביניכם והדלתות כבר ייפתחו מעצמן.<br>

        </p>

        <div class="lesson" id="1">
            <table style="height:200px">
                <tr style="vertical-align:top">
                    <th>
                     
                    <img src="/assets/john-schnobrich-FlPc9_VocJ4-unsplash.jpg" width="200" height="150"><br>

                    </th>
                    <th>
                        <h2>שמירת המרחב האישי של המרואיין</h2>
                      
                        <p>
                            מהו מרחב אישי? <br>
                            מרחב אישי הוא כלי בתקשורת בלתי מילולית, המתקשר למרחב הפיזי המקיף אותנו.<br>
                            המרחב האישי שלנו מקנה לנו מרחב שליטה, מעין טריטוריה אישית, <br>
                            ולכן תחושת האי נוחות מתעוררת כאשר לאזור זה מתקרב אדם אחר.<br>
                            לכולנו קיים אזור מגן מרחב אישי (מגופינו עד שישים סנטימטר). <br>
                            בדרך כלל קיים שולחן המפריד ומגן על מרחב זה אך לעיתים אין דבר שחוצץ בין המראיין למרואיין.<br>
                            אנשים מתייחסים לאזור האישי כהמשך של גופם. קרבה רבה מדי עלולה להיתפס כאיום מידי.<br>
                            ברגע שתבחינו בתנועות מסורבלות, תדעו שגרמתם למראיין להרגיש נבוך ופגיע.<br>
                            אם שמתם לב לאחד מהסממנים הנ"ל תאטו ותיסוגו כבדרך אגב עד לחזרתכם למרחב האישי הרצוי.<br>
                            אנשים בעלי מרחב אישי יחבבו אתכם יותר אם תשמרו על המרחב שלהם משום שהדבר שיקף את רצונם.<br>
                            מועמד שעם הכניסה לחדר המראיין מיד מניח על שולחנו את המשקפיים / המפתחות / הסלולרי שלו, מיד
                            משדר מסר סמוי של "פולש".<br>
                            עליך לזכור כי השולחן המפריד בינך לבין המראיין הוא עדיין שולחן העבודה של המראיין ולכן אין זה
                            במקום שתניח עליו את חפציך.<br>
                            אין זה גם ראוי שתשחק בדבר מה המונח על השולחן, גם אם מדובר ב"משחק מנהלים" מסוג אלה המצויים
                            במשרדים רבים ומפתים כל כך לשחק בהם (כדוגמת מטוטלת כדורים, מגנט סיכות, מעמד עטים וכדומה), ועל
                            אף שהדבר נעשה בהיסח הדעת ותוך כדי מענה על שאלה.<br>
                            ולכן, בראיון העבודה כדאי לשמור על המרחב האישי של המראיין, וגם אם נראה לכם כי מדובר בעניין
                            שולי וחסר חשיבות,<br>
                            הוא יכול להשפיע, בתת המודע של המראיין, על החלטתו לגבי עתידכם. <br>
                            כמו כן, זכור כי התעסקות כלשהי עם ידיך במהלך מענה על תשובות יכולה להעיד על עצבנות יתר, והדבר
                            אינו חיובי במיוחד.<br>
                            יתרה מכך, כבר נתקלנו במועמדים ש"הגדילו לעשות" ואפילו העיפו מבט במסך המחשב של המראיין.<br>
                            בין אם הדבר נעשה בהיסח הדעת ולא במכוון, ועל אחת כמה וכמה אם הדבר נעשה מתוך מטרה "להציץ"
                            ולראות מה
                            קורה שם באותו רגע או איזה מייל התקבל<br>
                            , למותר לציין כי הדבר אינו מקובל ואפילו נחשב כמעשה חצוף, שעלול לפגוע בסיכוייך להתקבל לעבודה.
                            <br>
                            לכן, טרם כניסתך לחדר המראיין, הכנס את כל חפציך
                            לתיק והנח אותו על הרצפה לצד מושבך, שמור על ידייך
                            במרחב שלך, (רצוי, אגב, להשאירן פתוחות ולא שלובות) ומקד את מבטך אל עבר המראיין , ללא "פזילות"
                            לצדדים או לכיוון מסך המחשב שלו.


                        </p>
                    </th>
                </tr>
            </table>
            <br><br><br><br><br><br>

            <mat-radio-group *ngIf="entries[1]" [(ngModel)]="entries[1][2]">
                <mat-radio-button class="container" [value]=3 [name]="finish" (change)="radioButtonChanged(1,3)">סיים
                </mat-radio-button>
                <mat-radio-button class="container" [value]=2 [name]="middle" (change)="radioButtonChanged(1,2)">באמצע
                </mat-radio-button>
                <mat-radio-button class="container" [value]=1 [name]="begin" (change)="radioButtonChanged(1,1)">התחיל
                </mat-radio-button>
                
            </mat-radio-group>
            <br><br>
        </div>
        <div class="lesson" id="2">
            <h2>הופעה מכובדת</h2>
            <table style="height:200px">
                <tr style="vertical-align:top">
                    <th>
                        <img src="/assets/hunters-race-MYbhN8KaaEc-unsplash.jpg" width="200" height="150"><br>
                    </th>
                    <th>

                      
                        <p>
                            למראה החיצוני יש השפעה גדולה על הרושם הראשוני שלכם, ולכן חשוב להקפיד על מראה השיער,
                            הציפורניים, האיפור, הריח, הגילוח ורמת הניקיון הכללית – כי כולם משחקים תפקיד חשוב, לא פחות
                            מהלבוש עצמו. הבגדים בהם תבחרו להופיע לראיון העבודה משקפים למראיין קוים לדמותכם, ולא פחות מכך
                            את יחסכם לזולת. אז הכלל הראשון הוא להתאים את הלבוש לאופי החברה והמשרה ובכל מקרה, לשמור על
                            מראה מהוגן, סולידי ונעים. שימו לב, אם המשרה היא בתחום השירות, קבלת קהל, מכירות, עריכת דין
                            וכדומה – מומלץ להגיע בתלבושת ייצוגית ומוקפדת במיוחד. בכל מקרה, תשתדלו להימנע מבחירות
                            קיצוניות, בין אם מדובר בבחירת הצבעים, האיפור, התכשיטים או כמות הבושם. בכל מקרה הקו המנחה
                            לבחירות שלכם צריך להיות נוחות.
                            מועמד שמגיע בבגדים מקומטים, בשיער פרוע ובאופן כללי בהופעה מוזנחת ומרושלת במיוחד, יוצר באופן
                            מיידי דחייה אצל המראיין. לכן, אל תגיע לראיון עבודה כשאתה בדרכך לים או כשאתה נראה ככה. התלבש
                            בצורה מכובדת, בבגדים נקיים ומגוהצים. כפכפיי אצבע, מכנסיים קצרים או גופיה אינם הולמים ראיון
                            עבודה בשום חברה ובשום מקצוע (למעט אם אתה מועמד לתפקיד מציל).
                            וכן כניסה לראיון העבודה עם משקפי שמש על העיניים (למעט במקרים בהם הם מתפקדים גם כמשקפי ראיה –
                            וגם אז, עליך להסביר זאת למראיין), לעיסת מסטיק במהלך הראיון, ישיבה "מרוחה" ולא מכובדת על
                            הכיסא - כל אלו מביעים זלזול וחוסר הערכה כלפי המראיין, ועלולים להפחית מראש את סיכוייך להתקבל
                            למשרה או אפילו לגרום לפסילת מועמדותך באופן כמעט מיידי. גם איחור משמעותי ללא הודעה על כך יוצר
                            רושם שלילי ועלול לפגום בסיכוייך. המנע מלשדר זלזול או שחצנות במהלך הראיון ולהביע את עצמך
                            באופן מתנשא.

                        </p>
                    </th>
                </tr>
            </table>

            <mat-radio-group *ngIf="entries[2]" [(ngModel)]="entries[2][2]">
                <mat-radio-button class="container" [value]="3" [name]="finish" (change)="radioButtonChanged(2,3)">סיים
                </mat-radio-button>
                <mat-radio-button class="container" [value]="2" [name]="middle" (change)="radioButtonChanged(2,2)">באמצע
                </mat-radio-button>
                <mat-radio-button class="container" [value]="1" [name]="begin" (change)="radioButtonChanged(2,1)">התחיל
                </mat-radio-button>
            </mat-radio-group>
        </div>


        <div class="lesson" id="3">
            <h2>ישיבה נכונה</h2>
            <table style="height:200px">
                <tr style="vertical-align:top">
                    <th>
                        <img src="assets/images-13.jpg" width="304" height="228"><span> </span>
                        <img src="assets/images-14.jpg" width="304" height="228">

                    </th>
                    <th>

                        <p>
                            בזמן הראיון חשוב לשמור על שפת גוף פתוחה,
                            מומלץ לא לשבת עם רגליים שלובות - הדבר משדר גם אטימות רגשית וגם קצת חוסר נימוס. מצד שני, לא
                            צריך להתפרע. כך למשל, השתדלו לא להחליף יותר מדי תנוחות ישיבה ואל תנדנדו את הרגל - זה לא מעיד
                            על שום דבר אחר חוץ מאשר עצבנות - ועצבנות לא משדרת אמינות.

                            גם ישיבה נינוחה תוך שילוב ידיים מאחורי הראש אסורה, מכיוון שזה משדר דומיננטיות ולמעשה אומר
                            "אני הבוס" לאדם שמולכם - מסר שלא מתאים למי שאמור להיות הבוס העתידי שלכם. צורות התנהגות
                            אסורות נוספות הן ישיבה הנשענת קדימה אל המראיין והנחת ידיים על השולחן שלו, מכיוון שהן משדרות
                            תוקפנות.
                            הנכון ביותר הוא ישיבה זקופה בכסא, עם גב ישר וכתפיים מתוחות שמעידה על נוכחות. זוהי גם צורת
                            ישיבה בריאה יותר, מכיוון שבית החזה מורם כך שמתאפשרת נשימה טובה. לעומת זאת, ישיבה מכופפת עם
                            כתפיים שמוטות לא נראית טוב ומשדרת חזות פאסיבית ואפילו הרגשה של נחיתות.

                        </p>
                    </th>
                </tr>
            </table>
            <br>

            <mat-radio-group *ngIf="entries[3]" [(ngModel)]="entries[3][2]">
                <mat-radio-button class="container" [value]=3 [name]="finish" (change)="radioButtonChanged(3,3)">סיים
                </mat-radio-button>
                <mat-radio-button class="container" [value]=2 [name]="middle" (change)="radioButtonChanged(3,2)">באמצע
                </mat-radio-button>
                <mat-radio-button class="container" [value]=1 [name]="begin" (change)="radioButtonChanged(3,1)">התחיל
                </mat-radio-button>
            </mat-radio-group>
            <br><br>
        </div>

        <div class="lesson" id="4">
            <div class="box" [style.background-color]="selectedColor"></div>
            <h2>ידיים</h2>

            <p> <b>לחיצת יד:</b></p>
            <table style="height:200px">
                <tr style="vertical-align:top">
                    <th>
                        <img src="assets/hands.jpg" width="304" height="228"><br>
                    </th>
                    <th>
                    
                        <p>
                            חוש המישוש או המגע הינו אחד החושים החיוניים ביותר עבורנו, לחיצת הידיים הגיעה עוד מימי
                            הביניים כשחיילים נהגו לאחוז זה בזרוע של זה על מנת לוודא שאינם נושאים נשק בשרווליהם. לחיצת
                            היד הינה הזדמנות מצוינת ליצירת קשר. "אני מרגיש טוב עם עצמי ולכבוד הוא לי להכיר אותך"
                            לחיצת יד היא מחוות היכרות וכבוד הדדי עתיקת יומין שאנחנו עושים באופן כמעט אינסטינקטיבי. בפעם
                            הבאה שמישהו ילחץ את ידכם, נסו להיות מודעים לה ולתחושה שאותה לחיצת יד מעבירה בכם. כולנו
                            יודעים איך "מרגישה" לחיצת יד טובה – לא חזק מדי, לא חלש מדי, אלא משהו באמצע. המהדרין מוסיפים
                            מבט ישיר בעיניים של האדם השני, חיוך ואמירה מקרבת, כמו בוקר טוב, או נעים מאוד.
                            ישנם 3 לחיצות ידיים שעדיף להימנע מהם:
                        </p>
                        <ul>
                            <li>הלחיצה הגולשת: זו שהופכת לאחיזת ידיים וגורמת לצד השני לחשוד שאתם תלותיים</li>
                            <li> הלחיצה השוברת: חזקה, אגרסיבית ואם לא תאיים על המראיין, תגרום לפחות לפגיעה אורתופדית
                            </li>
                            <li>הלחיצה העייפה: חלשה ורפה, ממש על גבול הליטוף ומרמזת על כך שלא אכלתם ארוחת בוקר</li>
                        </ul>

                    </th>
                </tr>
            </table>

            <p> <b>תנועות ידיים:</b></p>
            <table style="height:200px">
                <tr style="vertical-align:top">
                    <th>
                        <img src="assets/images-18.jpg" width="304" height="228"><br>

                    </th>
                    <th>

                        <p>
                            נגיעות באזור הפנים מעבירות מסרים לא חיוביים בדרך כלל: הן עלולות לגרום לאדם שמולכם לפקפק במה
                            שיש לכם לומר ולשדר כי אתם במצוקה או מאד מובכים. כך למשל, נגיעה בגשר האף משדרת שאתם במתח או
                            עייפים, והסתרת הפה משדרת כי מה שאתם אומרים אינו אמין.
                            שילוב זרועות על החזה מעיד על עמדה שלילית או מתגוננת, ידיים על המותניים הינה תנועה המשדרת
                            ריחוק, ידיים בכיסים או מוסתרות מראות על אדם כעצלן או מזלזל.
                            אחיזה בחפצים תוך כדי דיבור לדוג' משחק עם עט , מהדק שמסתובב בשולחן, גלגול כפתור החולצה, אחיזה
                            בשעון היד, בעגילים, אפילו אחיזה ממושכת מדי לאורך זמן מעבירים בתת מודע שדר של חוסר ביטחון,
                            מצוקה ואי נוחות.
                            מותר ואפשר לדבר בליווי תנועות הידיים, אך לא להרחיב את התנועות לגדולות מדי, מעבר לקווי הגוף.
                            לא להניח ידיים על השולחן – כי זוהי הטריטוריה של המראיין (לא להניח גם מפתחות, פלאפון וכו’).
                            תנועות קלות המלוות את הדיבור משדרות אנרגיה, ויטליות. חוסר תנועתיות משדר קיפאון, לחץ. הנכון
                            הוא באיזון העדין בתנועות.
                            הנחת ידיים על החזה משדרת כי הנכם ישרים וכנים. בשאר הזמן הניחו את הידיים על מסעד הכסא או על
                            הירכיים, יש להקפיד להראות את כפות הידיים ולא להסתירן.
                        </p>
                    </th>
                </tr>
            </table>

         
            <mat-radio-group *ngIf="entries[4]" [(ngModel)]=" entries[4][2] ">
                <mat-radio-button class="container" [value]=3 [name]="finish" (change)="radioButtonChanged(4,3)">סיים
                </mat-radio-button>
                <mat-radio-button class="container" [value]=2 [name]="middle" (change)="radioButtonChanged(4,2)">באמצע
                </mat-radio-button>
                <mat-radio-button class="container" [value]=1 [name]="begin" (change)="radioButtonChanged(4,1)">התחיל
                </mat-radio-button>
            </mat-radio-group>
            <br><br>
        </div>

        <div class="lesson" id="5">
            <h2> קשר עין וחיוך</h2>
            <table style="height:200px">
                <tr style="vertical-align:top">
                    <th>
                        <img src="assets/images-12.jpg" width="304" height="228">

                    </th>
                    <th>
                        <p> <b>קשר עין:</b></p>
                        <p>
                            קשר עין הוא אלמנט משמעותי ביותר. קשר עין מתחמק, לא עקבי, משדר לחץ, ביישנות, וחוסר ביטחון.
                            קשר עין יציב עם המראיין או איש השיחה מעורר אמינות וישירות, בטחון עצמי, והבעת כבוד כלפי
                            המראיין – מסרים אלו יפעלו לטובתכם ויסיעו ליצור את הרושם הרצוי. אנשים המגיעים מתרבויות כמו
                            המזרח הרחוק, מתקשים ביותר להישיר מבט לאיש השיחה, בשל "קודים" חברתיים ובינאישיים אחרים.
                            כמובן, כללי המשחק אצלנו מחזקים שיחה תוך ליווי מבט ישיר ועקבי שמקרין סמכותיות ותגרום
                            למראיינים לקחת את דבריכם ברצינות. ניתן מדי פעם להטות כקלות את הראש לצדדים כדי לשדר הקשבה.
                            חשוב מאד שהפנים יהיו גלויות , לא להסתיר את הסנטר, הלחי עם היד. לא להישען עם היד ולהימנע
                            משפשופי עיניים, אף או נפנוף השיער מהמצח. פנים גלויות פירושו גם לעולם לא לערוך ראיון עם משקפי
                            שמש כהים.... פנים גלויות מקרינות ישירות, הענות וגם פתיחות בינאישית.

                        </p>

                      
                        <p> <b>חיוכים:</b></p>
                        <p>ראיון עבודה זה מצב מלחיץ. באמת, לא בטוח שמישהו אי פעם בעולם נהנה מזה, אבל אם תתנו למראיין את
                            התחושה שאתם סובלים – קרוב לוודאי שהוא לא ירצה להעסיק אתכם. אמנם בראיון עבודה תרים אחר
                            הכישורים, הניסיון והידע שלכם, אבל גם רוצים לדעת איזה מין טיפוס אתם, כי בסופו של דבר אתם
                            אמורים להשתלב גם במרקם החברתי..
                            חיוכים הינם גורם מרכך חיובי וצריך לשמור על מינון נכון של חיוכים בכדי לקדם היטב את הראיון.
                            חייכנות יתר במינון רב מדי משדרת חולשה, קושי נוכח אסרטיביות, רכות יתר. מאידך, לעבור ראיון ללא
                            כל חיוך- פירושו לשדר קור, נוקשות, רצינות יתר או לחץ. קל להעלות חיוך בנושאים הנוגעים יותר
                            לתחומים אישיים- רגשיים או בינאישיים.
                        </p>

                    </th>
                </tr>
            </table>
            <br><br>

            <mat-radio-group *ngIf="entries[5]" [(ngModel)]="entries[5][2]">
                <mat-radio-button class="container" [value]=3 [name]="finish" (change)="radioButtonChanged(5,3)">סיים
                </mat-radio-button>
                <mat-radio-button class="container" [value]=2 [name]="middle" (change)="radioButtonChanged(5,2)">באמצע
                </mat-radio-button>
                <mat-radio-button class="container" [value]=1 [name]="begin" (change)="radioButtonChanged(5,1)">התחיל
                </mat-radio-button>
            </mat-radio-group>
            <br><br>
        </div>
        <div>
            <h2>לסיכום:</h2>
            <p>
                אז כיצד יש להתנהג?
            </p>
            <ul>
                <li> הניחו את הידיים על הברכיים בעדינות או על מסעד הכיסא. בזמן שתדברו, הידיים מן הסתם יזוזו מאליהן.
                </li>
                <li> המעיטו בנגיעות באזור הפנים והימנעו מללקק את השפתיים לעיתים קרובות.</li>
                <li> השתדלו להסתכל בעיני המראיין, אך אל תבהו בו - מספיק לתפוס את מבטו מדי פעם כדי לעורר אמינות. זיכרו
                    שאם העיניים שלכם נוטות יותר מדי לצד ימין זה עלול לרמוז על היותכם לא אמינים.</li>
                <li> השתדלו לא לכחכח בגרון, מכיוון שהמראיין עלול לראות בכך סימן לכך שאמרתם דבר לא נכון. אם אין לכם ברירה
                    והתפוח מהבוקר נתקע לכם בגרון - אמרו "סליחה" בחיוך מתנצל אחרי השיעול.</li>

            </ul>

        </div>
       
    </div>

    <div *ngIf="english">
        <div class="sidenav">
            <br>
            <a (click)="getChatMessages(7)">Your Posture</a> <br>
            <a (click)="getChatMessages(8)">Eye Contact</a> <br>
            <a (click)="getChatMessages(12)">Personal Grooming</a> <br>
            <a (click)="getChatMessages(13)">Body Language</a> <br>
            <a (click)="getChatMessages(14)">Hands </a> <br>
        </div>

        <h1>Here you can learn how to succeed in a job interview <br>
            by using proper body language</h1>
         <div class="lesson" id="7">
            <h2>Your Posture </h2>
            <table style="height:200px">
                <tr style="vertical-align:top">
                    <th>
    
                    </th>
                    <img src="/assets/Screen_Shot_2020-05-03_at_17.44.22.png" width="304" height="228"><br>
                    <th>
                        <p>
                            1. Ideally, your posture should embody confidence and friendliness at your entrance into the room 
                            and continue when you are greeted by the interviewer. <br>
                            2. During the interview, sit up straight with your bottom into the back of the chair.
                            This will ensure good posture and project interest and alertness.<br>
                             3. You may wish to lean forward at certain stages during the conversation,<br>
                              but avoid taking up the interviewer’s personal space
                              or appearing too eager or even desperate. <br><br>
                              Remember, it’s a fine line that only practice will help you to get it‘right’.<br>
                        </p>
                    </th>
                </tr>
            </table>
            <div>
                <mat-radio-group *ngIf="entries[7]" [(ngModel)]="entries[7][2]">
                    <mat-radio-button class="container" [value]=1 [name]="begin" (change)="radioButtonChanged(7,1)">Start
                    </mat-radio-button>
                    <mat-radio-button class="container" [value]=2 [name]="middle" (change)="radioButtonChanged(7,2)">Middle
                    </mat-radio-button>
                    <mat-radio-button class="container" [value]=3 [name]="finish" (change)="radioButtonChanged(7,3)">Done
                    </mat-radio-button>
                </mat-radio-group>
            </div>
    
            <br><br>
    
        </div>
        <div class="lesson" id="8">
            <h2>Eye Contact</h2>
            <table style="height:200px">
                <tr style="vertical-align:top">
                    <th>
                        <img src="/assets/Screen_Shot_2020-05-03_at_17.45.14.png" width="290" height="228"><br>
    
                    </th>
                    <th>
    
                        <p>
                            Maintain comfortable eye contact throughout the interview. <br>
                            Looking directly at the person you are speaking to is interpreted as a gesture of interest,<br>
                             trust, and confidence, so ensure that this is done throughout the interview –<br>
                              about 80% of the time.<br>
                               It is noted that when people are asked to recall work examples <br>
                               there is a natural tendency for them to look down or up as they process the request. <br>
                               Make sure that after you have accessed your (well practiced) <br>
                               example that you remember to return to your natural eye contact during the re-telling.<br>
                               <br>
                               Additionally, you can use a nod of the head to indicate understanding and agreement.<br>
                                It is advisable to smile your way through most of the interview – <br>
                                which will have the natural effect of putting the interviewer and yourself at ease.<br>
                                <br>
                               Shy people may find it difficult to maintain a long eye contact and may even try to over-compensate.<br>
                                It should be noted that coming up with the equivalent of a ‘death stare’ is equally distracting.<br>
                                 Natural eye contact, smiling, good posture and the confident ‘body language’<br>
                                  suggestions below only improve with practice.<br>
                        </p>
                       
                    </th>
                </tr>
            </table>
            <div>
    
                <mat-radio-group *ngIf="entries[8]" [(ngModel)]="entries[8][2]">
                    <mat-radio-button class="container" [value]=1 [name]="begin" (change)="radioButtonChanged(8,1)">Start
                    </mat-radio-button>
                    <mat-radio-button class="container" [value]=2 [name]="middle" (change)="radioButtonChanged(8,2)">Middle
                    </mat-radio-button>
                    <mat-radio-button class="container" [value]=3 [name]="finish" (change)="radioButtonChanged(8,3)">Done
                    </mat-radio-button>
                </mat-radio-group>
            </div>
    
            <br><br>
    
        </div>
        <div class="lesson" id="12">
            <h2>Personal Grooming</h2>
            <table style="height:200px">
                <tr style="vertical-align:top">
    
                    <img src="/assets/Screen_Shot_2020-05-03_at_17.45.08.png" width="170" height="300"><br>
                    <th>
    
                        <p>
                            Grooming usually involves all the things that your mother told you about. Such things as a neat hair,<br>
                             clean facial hair (men), clean fingernails, use of deodorant etc. <br>
                             For women light make-up with natural lipstick shades,<br>
                              and light or no perfume work best. Ideally, <br>
                              clean your teeth before the interview so that your breath will be smelling fresh. <br>
                              Another option is to eat breath mints before the interview.<br>
                               Under no circumstances should you be either chewing gum or have a mint in your mouth during the interview.<br>
                               <br>
                               Remember to give yourself plenty of time before the interview to attend to your hair,<br>
                                cool down or touch up. <br>
                                It is advisable that you have a practice run to reach the interview place on time. <br>
                                On the day of the interview, <br>
                                leave for the interview early to ensure there is plenty of spare time should a delay occur. <br>
                                This will reduce the chance of you looking and feeling flustered during the all-important beginning of the interview.<br>
                        </p>
                       
                    </th>
                </tr>
            </table>
            <div>
    
                <mat-radio-group *ngIf="entries[12]" [(ngModel)]="entries[12][2]">
                    <mat-radio-button class="container" [value]=1 [name]="begin" (change)="radioButtonChanged(12,1)">Start
                    </mat-radio-button>
                    <mat-radio-button class="container" [value]=2 [name]="middle" (change)="radioButtonChanged(12,2)">Middle
                    </mat-radio-button>
                    <mat-radio-button class="container" [value]=3 [name]="finish" (change)="radioButtonChanged(12,3)">Done
                    </mat-radio-button>
                </mat-radio-group>
            </div>
    
            <br><br>
    
        </div>
        <div class="lesson" id="13">
            <h2>Body Language </h2>
            <table style="height:200px">
                <tr style="vertical-align:top">
                    <th>
    
                    </th>
                    <img src="/assets/Screen_Shot_2020-05-03_at_17.44.43.png" width="200" height="300"><br>
    
                    <th>
                        <p>
                            Sitting with your arms crossed can be seen as an arrogant or defensive gesture,<br> 
                            so try to avoid this. Likewise, for leg positions, <br>
                            both feet flat on the floor or the low cross, <br>
                            where your legs are crossed over at the ankles is a good option.<br>
                             Having your legs crossed higher up can be construed as a defensive or arrogant gesture. <br>
                             Alternatively, if this doesn’t feel natural to you,<br>
                             another option is to put your feet one in front of the other,<br>
                              with your back foot raised with only your toes touching the ground. <br>
                              This body language conveys a ‘ready for action’ stance.<br>
                        </p>  
                    </th>
                </tr>
            </table>
            <div>
                <mat-radio-group *ngIf="entries[13]" [(ngModel)]="entries[13][2]">
                    <mat-radio-button class="container" [value]=1 [name]="begin" (change)="radioButtonChanged(13,1)">Start
                    </mat-radio-button>
                    <mat-radio-button class="container" [value]=2 [name]="middle" (change)="radioButtonChanged(13,2)">Middle
                    </mat-radio-button>
                    <mat-radio-button class="container" [value]=3 [name]="finish" (change)="radioButtonChanged(13,3)">Done
                    </mat-radio-button>
                </mat-radio-group>
            </div>
            <br><br>
        </div>
        <div class="lesson" id="14">
            <h2>Hands </h2>
            <table style="height:200px">
                <tr style="vertical-align:top">
                    <th>
    
                    </th>
                    <img src="/assets/goodhands.jpg" width="330" height="200"><br>
    
                    <th>
    
                        <p>
                            If you are a person who uses their hands a lot while speaking, <br>
                             try to keep this to a minimum.  <br>
                             This will not only distract the interviewer from your words but will break your eye contact. <br>
                              The less you use your arms and hands,  <br>
                              the more powerful you will appear in the interview. <br>
                              <br>
                             Mirroring’ the body language of the interviewer/s is also a good technique -  <br>
                             as like people attract. If you reflect back the body language of the interviewer, <br>
                              you are more likely to make a positive impression and put them at ease. <br>
                        </p>  
                    </th>
                </tr>
            </table>
            <div>
                <mat-radio-group *ngIf="entries[14]" [(ngModel)]="entries[14][2]">
                    <mat-radio-button class="container" [value]=1 [name]="begin" (change)="radioButtonChanged(14,1)">Start
                    </mat-radio-button>
                    <mat-radio-button class="container" [value]=2 [name]="middle" (change)="radioButtonChanged(14,2)">Middle
                    </mat-radio-button>
                    <mat-radio-button class="container" [value]=3 [name]="finish" (change)="radioButtonChanged(14,3)">Done
                    </mat-radio-button>
                </mat-radio-group>
            </div>
            <br><br>
        </div>
    </div>
    
        <button (click)="topFunction()" id="myBtn" title="Go to top">Top &uarr;</button>
        <h2>
            To add knowledge on this topic:
          </h2>
          
            <a target="_blank" href="https://resources.workable.com/stories-and-insights/interview-body-language#
            :~:text=Body%20posture&text=It%20shows%20a%20lack%20of,is%20usually%20positive%20body%20language.">body language on work interview</a><br>
            <a target="_blank" href="https://mashable.com/2014/11/17/body-language-job-interview/">body language tricks to use during a job interview</a><br>
            <a target="_blank" href="https://www.thebalancecareers.com/body-language-tips-for-your-next-job-interview-2060576">9 simple body language tips for your next job interview</a><br>
            <a target="_blank" href="https://www.businessinsider.com/body-language-tricks-to-use-during-a-job-interview-2016-7">Body Language Tips for Your Next Job Interview</a><br>
    <br>
    <br>
    <br>
    
</div>